@font-face {
  font-family: 'Elderkin';
  src: url(./Elderkin-Medium.woff) format("woff");
  font-display: block;
}

@font-face {
  font-family: 'Miller Display';
  src: url(./miller-display.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: 'Miller Text';
  src: url(./miller-text.woff2) format("woff2");
  font-display: block;
}